@import 'tailwindcss';

:root {
	--bgLight: #f6f7f8;
	--bgDark: #101922;
	--primary: #137fec;
	--contentLight: #111418;
	--contentDark: #e1e7ef;
	--subtleLight: #617589;
	--subtleDark: #94a3b8;
	--borderLight: #e2e8f0;
	--borderDark: #334155;
	--foregroundLight: #101922;
	--foregroundDark: #f6f7f8;
	--mutedLight: #6c757d;
	--mutedDark: #a0a8b0;
}

.scroll-none::-webkit-scrollbar {
	display: none;
}

.bg-myZoneOnline {
	background: linear-gradient(to bottom, #dd0000 0%, #d50000 30%, #cd0000 60%, #c30000 100%);
}

.myZoneOnlineText {
	background: linear-gradient(to bottom, #dd0000 0%, #d50000 30%, #cd0000 60%, #c30000 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

@keyframes move-left {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes move-right {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.watermark-left,
.watermark-right {
	display: flex;
	gap: 4rem;
	white-space: nowrap;
	font-size: 2.5rem;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.7);
	transform: rotate(-25deg);
}

.watermark-left {
	animation: move-left 18s linear infinite;
}

.watermark-right {
	animation: move-right 18s linear infinite;
}

.watermark-left span,
.watermark-right span {
	min-width: max-content;
}